<div>
  <h2> Log In </h2>

  {{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
  {{/if}}

  <div>
    <div>
      <form action="/" method="post">
        <div>
          <label for="email-input"> Email </label>
          <input type="email" name="email" id="email-input" placeholder="">
        </div>

        <div>
          <label for="password-input"> Password </label>
          <input type="password" name="password" id="password-input" placeholder="">
        </div>

        <button>
        <a href="/auth/linkedin">
          Log in with LinkedIn
        </a>
      </button>
      <button> Log In </button>
      </form>
    </div>
    <p>
      
    </p>

    <p>
      Or create a Sperk account.
      <a href="/signup">
        Join Now
      </a>
    </p>
  </div>
</div>