<!-- views/index.hbs -->
{{#if isUserLoggedIn }}
<p> Hello {{ currentUserInfo.firstName }}, ask a question...</p>

<form action="/ask">
  <select name="industry" multiple>
    <option value="law">Law</option>
    <option value="engineering">Engineering</option>
    <option value="science">Science</option>
    <option value="math">Math</option>
  </select>
  <div>
    <input type="search" name="question" placeholder="Is it necessary to get a degree in X to become Y?">
    <button>Ask</button>
  </div>
</form>

{{else}}
<div id="login-container">
  <h2> Log In </h2>

  {{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
  {{/if}}

  <div>
    <form action="/" method="post">
      <div>
        <label for="email-input"> Email </label>
        <input type="email" name="email" id="email-input" placeholder="">
      </div>

      <div>
        <label for="password-input"> Password </label>
        <input type="password" name="password" id="password-input" placeholder="">
      </div>

      <button>
        <a href="/auth/linkedin">
          Log in with LinkedIn
        </a>
      </button>
      <button> Log In </button>
    </form>
  </div>

  <p>
    Or create a Sperk account.
    <a href="/signup">
      Join Now
    </a>
  </p>
</div>

 <footer>
    <ul id="footer-container">
      <li>About</li>
      <li>Team</li>
      <li>Careers</li>
      <li>Terms</li>
      <li>Help</li>
    </ul>
      <p> Made with &hearts; by Sperkn Labs, LLC. </p>
  </footer>
{{/if}}