<!-- views/index.hbs -->
{{#if isUserLoggedIn }}
  {{!-- <div id="ask-header"> --}}
<div class="pure-g">
  <div class="pure-u-11-24 pure-u-md-11-24 pure-u-lg-11-24 pure-u-xl-11-24 center-items layout-items"><h2> Hello {{ currentUserInfo.firstName }}, ask a question...</h2></div>
  <div class="pure-u-13-24 pure-u-md-13-24 pure-u-lg-13-24 pure-u-xl-13-24"></div>
</div>

<div class="pure-g layout-items">
  <div class="pure-u-1-4 pure-u-md-1-4 pure-u-lg-1-4 pure-u-xl-1-4 layout-items"></div>
  <div class="pure-u-1-2 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2 layout-items">
    <form autocomplete="off" action="/ask" method="POST">
      <div class="pure-g">
        <div class="autocomplete pure-u-4-24 pure-u-md-4-24 pure-u-lg-4-24 pure-u-xl-4-24 right-items"><input id="myIndustry" type="text" name="industry" placeholder="Industry" class="input-industry-main"></div>
        <div class="pure-u-17-24 pure-u-md-17-24 pure-u-lg-17-24 pure-u-xl-17-24 center-items"><input type="text" name="question" placeholder="Ask and you shall receive..." class="input-ask-main"></div>
        <div class="pure-u-3-24 pure-u-md-3-24 pure-u-lg-3-24 pure-u-xl-3-24"><a href="/ask"></a><button class="button-large button-ask pure-button">Ask</button></a></div>
      </div>
    </form>
  </div>
  <div class="pure-u-1-4 pure-u-md-1-4 pure-u-lg-1-4 pure-u-xl-1-4"></div>
</div>

{{else}}
<div class="pure-g layout-items">
  <div class="pure-u-9-24 pure-u-md-9-24 pure-u-lg-9-24 pure-u-xl-9-24"></div>
  <div class="pure-u-6-24 pure-u-md-6-24 pure-u-lg-6-24 pure-u-xl-6-24 layout-items center-items background-auth">
    <form action="/" method="POST" class="form-border pure-form pure-form-stacked">
      <fieldset>
        <legend>Log In</legend>
        {{#if errorMessage}}
        <p class="error-message">
        {{ errorMessage }}
        </p>
        {{/if}}
          <span class="pure-form-message">Recommended Option</span>
          <div class="layout-items">
            <a href="/auth/linkedin"><img src="/images/sign-in-small-default.png"></a> 
          </div>
          <span class="pure-form-message layout-items">OR</span>
          <span class="pure-form-message layout-items">Log in with your sperq account</span>

          <label for="email" class="su-padding-items">Email</label>
          <div class="container"><input id="email" type="email" name="email" placeholder="Email"></div>
          {{!-- <span class="pure-form-message">This is a required field.</span> --}}

          <label for="password" class="su-padding-items">Password</label>
          <div class="container"><input id="password" type="password" name="password" placeholder="Password"></div>

          <label for="remember" class="pure-checkbox su-padding-items">
          <input id="remember" type="checkbox"> Remember me
          </label>

          <button type="submit" class="button-xlarge pure-button pure-button-primary">Log In</button>
      </fieldset>
    </form>
  </div>
  <div class="pure-u-9-24 pure-u-md-9-24 pure-u-lg-9-24 pure-u-xl-9-24"></div>
</div>

 <footer>
    <ul class="footer-container">
      <li><a href="#"><button class="button-small pure-button">About</button></a></li>
      <li><a href="#"><button class="button-small pure-button">Team</button></a></li>
      <li><a href="#"><button class="button-small pure-button">Careers</button></a></li>
      <li><a href="#"><button class="button-small pure-button">Terms</button></a></li>
      <li><a href="#"><button class="button-small pure-button">Help</button></a></li>
    </ul>
    <div class="footer-container layout-items">
      <p> Sperkn Labs, LLC. </p>
      {{!-- Made with &hearts; by  --}}
    </div>
  </footer>
{{/if}}