<!-- views/index.hbs -->
{{#if isUserLoggedIn }}
  <div id="ask-header">
    <h1> Hello {{ currentUserInfo.firstName }}, ask a question...</h1>
  </div>

  <div id="ask-input">
  <form action="/ask" method="POST">
    <select name="industry">
      <option value="law">Law</option>
      <option value="engineering">Engineering</option>
      <option value="science">Science</option>
      <option value="math">Math</option>
    </select>
    <span>
      <input type="search" name="question" placeholder="Is it necessary to get a degree in X to become Y?" class="ask-bar">
      <button>Ask</button>
    </span>
  </form>
  </div>

{{else}}
<div id="container">
<div id="login-container">
  <h2> Log In </h2>

  {{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
  {{/if}}

  <div id="login-items">
      <a href="/auth/linkedin">
        <img src="/images/sign-in-small-default.png"> 
      </a>
    <form action="/" method="post">
      <div>
        <label for="email-input"> Email </label>
        <input type="email" name="email" id="email-input" placeholder="">
      </div>

      <div>
        <label for="password-input"> Password </label>
        <input type="password" name="password" id="password-input" placeholder="">
      </div>

      <button> Log In </button>
    </form>
  </div>

  <p>
    Or create a Sperk account - 
    <a href="/signup">
      Join
    </a>
  </p>
</div>
</div>
 <footer>
    <ul class="footer-container">
      <li>About</li>
      <li>Team</li>
      <li>Careers</li>
      <li>Terms</li>
      <li>Help</li>
    </ul>
    <div class="footer-container">
      <p> Made with &hearts; by Sperkn Labs, LLC. </p>
    </div>
  </footer>
{{/if}}