<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href="/"><img src="/images/sperq-logo.png"> </a>
      {{#if isUserLoggedIn }}
        <nav class="nav-container">
          <li> <a href="/"> Home </a> </li>
          <li> <a href="/dashboard"> Dashboard </a> </li>
          <li> <a href="/feed"> Feed </a> </li>
          <li> <a href="/logout"> Log Out </a> </li>
          <img src="{{ currentUserInfo.avatarUrl }}" id="avatar-profile"/>
        </nav>
        {{else}}
        <nav class="nav-container">
          <li> <a href="/signup"> Sign Up </a> </li>
          {{!-- <li> <a href="/"> Log In </a> </li> --}}
        </nav>
      {{/if}}
    </header>
    {{{body}}}
    <script src='/javascripts/script.js' />
  </body>
</html>