<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"> --}}
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      {{!-- <a href="/"><img src="/images/sperq-logo.png"> </a> --}}
      {{#if isUserLoggedIn }}
        <nav class="nav-container">
          <li> <a href="/"> Home </a> </li>
          <li> <a href="/dashboard"> Dashboard </a> </li>
          <li> <a href="/feed"> Feed </a> </li>
          {{!-- <li> <a href="/logout"> Log Out </a> </li> --}}
          <div class="dropdown-nav">
            <button class="dropbtn-nav"> <img src="{{ currentUserInfo.avatarUrl }}" id="avatar-profile"/></button>
            <div class="dropdown-content-nav">
              <a href="#">My Profile</a>
              <a href="#">Settings</a>
              <a href="/logout">Log Out</a>
            </div>
          </div>
        </nav>
        {{else}}
        <nav class="nav-container">
          <li> <a href="/signup"> Sign Up </a> </li>
          {{!-- <li> <a href="/"> Log In </a> </li> --}}
        </nav>
      {{/if}}
    </header>
    {{{body}}}
    <div id="domainName" style="display:none">http://localhost:3000/</div>
    <script src='/javascripts/script.js' />
  </body>
</html>