/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL styles */

body {
  background-color: #FFF;
}

header {
  background-color: #4F86C6;
}

footer {
  background-color: #4F86C6;
}

/* LAYOUT.HBS styles */

#avatar-profile {
  object-fit: cover;
  border-radius:50%;
  width: 35px;
  height: 35px;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* justify-content: space-around; */
  align-items: center;
}

nav li {
   list-style-type: none;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
}

nav img {
  display: block;
  padding: 1em;
}

/* LOG-IN / INDEX.HBS styles */

.logo {
  font-family: fantasy;
  font-size: 50px;
  font-weight: bolder;
  padding-left: 30px;
  /* border: 2px black solid; */
  display: block;
  width: 60px;
  padding-top: 10px;
  border-radius: 70%;
  color: #4FB0C6;
  border: #4FB0C6 3px solid;
  margin-left: 30px;
}
button a {
  text-decoration: none;
  display: block;
  padding: 1em;
}
#container {
  display: flex;
  justify-content: center;
  /* height: 100%; */
  /* position: fixed;
  width: 100%;
  left: 0;
  top: 0; */
}

#login-container {
border: #4FB0C6 3px solid;
border-radius: 15px;
background-color: #FFF;
width: 350px;
/* height: 250px; */
display: flex;
flex-direction: column;
align-items: center;
height: 100%
}

#login-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top:2%;
}

#ask-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#ask-input {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width:100%;
}

.ask-bar {
  padding-left: 10px;
  width: 50%;
}

/* DASHBOARD styles */

#dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#questions-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  align-items: center;
  border: 1px black solid;
  border-radius: 10px;
}

/* FEED styles */

.stats-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.avatar-question {
  object-fit: cover;
  border-radius:10px;
  width: 30px;
  height: 30px;
}