/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL styles */

#background {
  background: no-repeat center center fixed; 
  background-size: cover;
  background-image: url(/images/background-image.png);
  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: lighten;
  /* opacity: 0.5; */
}

/* header {
  background-color: #4F86C6;
} */

/* footer {
  background-color: #4F86C6;
} */

a {
  text-decoration: none;
}

.layout-items {
  padding-top: 1em;
}

.layout-item-avatar {
  padding-top: 0.5em;
}
.center-items {
  text-align: center;
  /* align-items: center; */
  /* padding-top: 1.0em; */
}

.right-items {
  text-align: right;
  /* padding-top: 1.0em; */
}

.left-items {
  text-align: left;
  /* padding-top: 1.0em; */
}

.general-template-style {
background: rgba(255,255,255)
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.small-button-radius {
  border-radius: .6em;
}

.border-left {
  border-left: 0.1em solid rgb(143, 73, 222);
  padding-right: 0.2em;
}

.left-padding {
  padding-left: 1em;
}

/* *****BEGIN SIGN-UP & LOG-IN STYLING***** */
.background-auth {
background: #FFF;
border-radius: 1em;
border: 0.2em solid rgb(143, 73, 222);
}


/* ******BEGIN STYLING FOR INDUSTRIES INPUTS(Autocomplete & Question) & ASK BUTTON******  */

* { box-sizing: border-box; }
/* body {
  font: 16px Arial; 
} */

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.input-ask-main {
  width:98%;
  height:94%;
}
.input-industry-main {
  width:98%;
  height:94%;
}

.input-ask {
  width:98%;
  height:84%;
}

.input-industry {
  width:98%;
  height:84%;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  /* width: 100%; */
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.button-ask,
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-green {
  background: rgb(28, 184, 65);
  object-fit: cover;
  border-radius:50%;
  width: 2.1em;
  height: 2.1em;
}

.button-red {
  background: rgb(202, 60, 60);;
  object-fit: cover;
  border-radius:50%;
  width: 2.1em;
  height: 2.1em;
}

.button-ask {
  background: rgb(143, 73, 222);
}
/* ******END STYLING FOR INDUSTRIES INPUTS(Autocomplete & Question) & ASK BUTTON******  */

/* LAYOUT.HBS styles */

#nav-bar {
  height: 3.5em;
}

/* #logo {
  padding-left: 1.5em;
} */

#avatar-profile {
  object-fit: cover;
  border-radius:50%;
  width: 2em;
  height: 2em;
  border: .1em solid dodgerblue;
  /* object-fit: cover;
  border-radius: 0.2em;
  width: 2.2em;
  height: 2.0em; */
}

/* .avatar-profile-border{
  border: 0.13em solid dodgerblue;
  object-fit: cover;
  border-radius:0.75em;
  width: 2.5em;
  height: 2.2em;
} */

nav li {
   list-style-type: none;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 1em;
}

nav img {
  display: block;
  padding: 1em;
}

.dropbtn-nav {
  background-color: #4F86C6;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-nav {
  position: relative;
  /* display: inline-block; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-nav {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-nav a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-nav a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-nav:hover .dropdown-content-nav {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-nav:hover .dropbtn-nav {background-color: #3e8e41;}


/* *********END LAYOUT STYLING********** */


/* *********BEGIN SIGN-UP STLYING************* */

.container {
  display: flex;
  justify-content: center;
}
.align-center {
  text-align: center;
  display:block;
}

.su-padding-items {
  padding-top: 1em;
}

/* *********END SIGN-UP STLYING************* */

/* LOG-IN / INDEX.HBS styles */

/* .logo {
  font-family: fantasy;
  font-size: 50px;
  font-weight: bolder;
  padding-left: 30px;
  border: 2px black solid;
  display: block;
  width: 60px;
  padding-top: 10px;
  border-radius: 70%;
  color: #4FB0C6;
  border: #4FB0C6 3px solid;
  margin-left: 30px;
} */

button a {
  text-decoration: none;
  display: block;
  padding: 1em;
}
/* #container {
  display: flex;
  justify-content: center; */
  /* height: 100%; */
  /* position: fixed;
  width: 100%;
  left: 0;
  top: 0; */
/* } */

/* #login-container {
border: #4FB0C6 3px solid;
border-radius: 15px;
background-color: #FFF;
width: 350px;
display: flex;
flex-direction: column;
align-items: center;
height: 100%
} */

/* #login-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
} */

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top:2%;
}

/* #ask-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
} */

/* #ask-input {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width:100%;
} */
/* 
.ask-bar {
  padding-left: 10px;
  width: 50%;
  height: 200px !important;
  width: 500px;
} */

/* DASHBOARD styles */

#dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#questions-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  align-items: center;
  border: 1px black solid;
  border-radius: 10px;
}

/* ******BEGIN FEED STYLES******* */

.feed-question-item {
  background: #fff;
  /* background: no-repeat center center fixed;  */
  background-size: cover;
  /* background-image: url(/images/background-image.png); */
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stats-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
}
.avatar-question {
  object-fit: cover;
  border-radius:50%;
  width: 4em;
  height: 4em;
  border: .1em solid dodgerblue;
}

.question-spacing {
  margin-top: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.question-info {
  padding-top: 0.5em;
}

/* ******END FEED STYLES******* */